language: node_js
node_js:
  - "4"
services:
  - mongodb
before_install:
  - npm install --global gulp
  - npm install -g codeclimate-test-reporter
install:
  - npm install
after_success:
  - codeclimate-test-reporter < coverage/lcov.info
notifications:
  slack: financialtimes:F7ol60TlTlcG7ZP0DvAZWan5