<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;display:table;margin:0 auto;text-align:center;max-width:720px">
    <tbody>
    <tr>
        <td width="0"></td>

        <td style="max-width:720px">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="text-align:left">
                <tbody>
                <tr>
                    <td style="width:1%">&nbsp;</td>

                    <td>
                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="background-color:#fff1e0;border:2px solid #f7f7f7;text-align:left">
                            <tbody>
                            <tr>
                                <td style="height:3px;font-size:3px;line-height:3px;padding:0">&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="height:23px;font-size:23px;line-height:23px;padding:0">&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="padding-left:10px;padding-right:10px">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody>
                                        <tr>
                                            <td style="font-size:32pt;line-height:32pt;height:32pt;text-align:center;font-family:Georgia;width:100%">
                                                <a href="https://www.ft.com" target="_blank"><img alt="FINANCIAL TIMES" class="CToWUd" src="http://img.ed4.net/financialtimesc/images/2013/Responsive/ft-logo-480.png" style="width:80%;max-width:440px;max-height:40px;color:#091523;font-size:22pt;border:0 none" title="FINANCIAL TIMES"></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="font-size:4px;line-height:4px;height:4px">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td style="font-size:10pt;line-height:12pt;font-family:Arial;color:#505050;text-align:center;font-weight:bold">Tuesday August 25 2015</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="height:10px;font-size:10px;line-height:10px;padding:0">&nbsp;</td>
                            </tr>

                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="width:3%">&nbsp;</td>

                                            <td>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="color:#333333;background-color:#e9dece;font-size:10pt;font-weight:bold;padding:5px 17px 4px 17px;text-transform:uppercase;font-family:Arial;width:100%">Breaking news</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="height:22px;font-size:22px;line-height:22px;padding:0">

                                                                {{heading}}

                                                                {{content}}

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                            <td style="width:3%">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td style="height:22px;font-size:22px;line-height:22px;padding:0">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td style="width:3%">&nbsp;</td>

                                            <td>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td style="height:10px;font-size:10px;line-height:10px;padding:0">&nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="padding:0 12px 6px 12px">
                                                            <table border="0"
                                                                   cellpadding="0"
                                                                   cellspacing="0"
                                                                   style="width:100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="width:50%;background-color:#f6e8d7;padding:6px 8px;border-radius:2px"
                                                                        valign="middle">
                                                                        <table border="0"
                                                                               cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="line-height:12pt">
                                                                                    <a href="http://nbe.ft.com/"
                                                                                       style="text-decoration:none;font-family:Arial;line-height:12pt"
                                                                                       target="_blank">
                                                                                        <img alt=""
                                                                                             class="CToWUd"
                                                                                             src="http://img.ed4.net/financialtimesc/images/2013/Responsive/emailsettings-v2.png"
                                                                                             style="width:26px;min-height:26px;border:0 none"></a>
                                                                                </td>

                                                                                <td style="padding-left:5px;color:#2e6e9e;font-family:Arial;line-height:12pt">
                                                                                    <a href="http://nbe.ft.com/"
                                                                                       style="text-decoration:none;font-size:9pt;line-height:12pt;font-family:Arial;color:#2e6e9e"
                                                                                       target="_blank">
                                                                                        Manage
                                                                                        email</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>

                                                                    <td style="width:7px;height:100%">
                                                                        &nbsp;&nbsp;</td>
                                                                    <td style="width:50%;background-color:#f6e8d7;padding:6px 8px;border-radius:2px"
                                                                        valign="middle">
                                                                        <table border="0"
                                                                               cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="line-height:12pt">
                                                                                    <a href="mailto:nbefeedback@ft.com?subject=Financial%20Times%20-%20News%20by%20Email%20Feedback&amp;body=Please%20leave%20your%20comment%20below.%0A%0A%0APlease%20also%20tell%20us...%0A%0AWhat%20device%20you%27re%20reading%20email%20on%3A%0A%0AWhat%20do%20you%20like%20about%20the%20FT%20News%20by%20Email%20service%3F%0A%0AWhat%20can%20we%20improve%3F%0A%0A%0AWe%20value%20your%20feedback%20and%20will%20consider%20your%20input%20for%20product%20improvement.%20For%20technical%20support%20please%20contact%20help%40ft.com.%0A"
                                                                                       style="text-decoration:none;font-family:Arial;line-height:12pt"
                                                                                       target="_blank">
                                                                                        <img alt=""
                                                                                             class="CToWUd"
                                                                                             src="http://img.ed4.net/financialtimesc/images/2013/Responsive/feedback-v2.png"
                                                                                             style="width:26px;min-height:26px;border:0 none"></a>
                                                                                </td>

                                                                                <td style="padding-left:5px;color:#2e6e9e;font-family:Arial;line-height:12pt">
                                                                                    <a href="mailto:nbefeedback@ft.com?subject=Financial%20Times%20-%20News%20by%20Email%20Feedback&amp;body=Please%20leave%20your%20comment%20below.%0A%0A%0APlease%20also%20tell%20us...%0A%0AWhat%20device%20you%27re%20reading%20email%20on%3A%0A%0AWhat%20do%20you%20like%20about%20the%20FT%20News%20by%20Email%20service%3F%0A%0AWhat%20can%20we%20improve%3F%0A%0A%0AWe%20value%20your%20feedback%20and%20will%20consider%20your%20input%20for%20product%20improvement.%20For%20technical%20support%20please%20contact%20help%40ft.com.%0A"
                                                                                       style="text-decoration:none;font-size:9pt;line-height:12pt;font-family:Arial;color:#2e6e9e"
                                                                                       target="_blank">
                                                                                        Feedback</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>

                                                                </tr>

                                                                <tr>
                                                                    <td style="height:7px;font-size:7px;line-height:7px;padding:0">
                                                                        &nbsp;</td>
                                                                </tr>

                                                                </tbody>
                                                            </table>

                                                            <table border="0"
                                                                   cellpadding="0"
                                                                   cellspacing="0"
                                                                   style="width:100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="height:7px;font-size:7px;line-height:7px;padding:0">
                                                                        &nbsp;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                            <table border="0"
                                                                   cellpadding="0"
                                                                   cellspacing="0"
                                                                   style="width:100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="background-color:#f6e8d7;padding:6px 8px;text-align:center">
                                                                        <a href="https://subscribe.ft.com/psp"
                                                                           style="text-decoration:none;color:#2e6e9e;font-size:9pt;font-family:Arial"
                                                                           target="_blank">
                                                                            Subscribe
                                                                            to
                                                                            the
                                                                            FT</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                            <table border="0"
                                                                   cellpadding="0"
                                                                   cellspacing="0"
                                                                   style="width:100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="height:7px;font-size:7px;line-height:7px;padding:0">
                                                                        &nbsp;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                            <table border="0"
                                                                   cellpadding="0"
                                                                   cellspacing="0"
                                                                   style="width:100%;border-top:1px dotted #c0c0c0;border-bottom:1px dotted #c0c0c0">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="padding:4px 0">
                                                                        <table align="center"
                                                                               border="0"
                                                                               cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="middle">
                                                                                                                <span style="font-size:9pt;color:#505050;font-family:Arial">
                                                                                                                Follow
                                                                                                                the
                                                                                                                FT</span></td>

                                                                                <td style="padding-left:10px;width:160px">
                                                                                    <table align="left"
                                                                                           border="0"
                                                                                           cellpadding="0"
                                                                                           cellspacing="0"
                                                                                           style="width:150px">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a href="https://twitter.com/financialtimes"
                                                                                                   style="text-decoration:none;font-size:9pt;display:block"
                                                                                                   target="_blank">
                                                                                                    <img alt="twitter"
                                                                                                         class="CToWUd"
                                                                                                         height="24"
                                                                                                         src="http://img.ed4.net/financialtimesc/images/2013/Responsive/tw.png"
                                                                                                         style="border:0 none;display:block"
                                                                                                         width="24"></a>
                                                                                            </td>

                                                                                            <td>
                                                                                                <a href="https://www.facebook.com/financialtimes"
                                                                                                   style="text-decoration:none;font-size:9pt;display:block"
                                                                                                   target="_blank">
                                                                                                    <img alt="facebook"
                                                                                                         class="CToWUd"
                                                                                                         height="24"
                                                                                                         src="http://img.ed4.net/financialtimesc/images/2013/Responsive/fb.png"
                                                                                                         style="border:0 none;display:block"
                                                                                                         width="24"></a>
                                                                                            </td>

                                                                                            <td>
                                                                                                <a href="https://plus.google.com/+FinancialTimes/posts"
                                                                                                   style="text-decoration:none;font-size:9pt;display:block"
                                                                                                   target="_blank">
                                                                                                    <img alt="google plus"
                                                                                                         class="CToWUd"
                                                                                                         height="24"
                                                                                                         src="http://img.ed4.net/financialtimesc/images/2013/Responsive/gplus.png"
                                                                                                         style="border:0 none;display:block"
                                                                                                         width="24"></a>
                                                                                            </td>

                                                                                            <td>
                                                                                                <a href="https://www.linkedin.com/company/financial-times"
                                                                                                   style="text-decoration:none;font-size:9pt;display:block"
                                                                                                   target="_blank">
                                                                                                    <img alt="linkedin"
                                                                                                         class="CToWUd"
                                                                                                         height="24"
                                                                                                         src="http://img.ed4.net/financialtimesc/images/2013/Responsive/likd.png"
                                                                                                         style="border:0 none;display:block"
                                                                                                         width="24"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="height:22px;font-size:22px;line-height:22px;padding:0">
                                                            &nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="text-align:center;font-size:9pt;line-height:13pt;font-family:Arial;color:#98948f">
                                                            <a href="http://nbe.ft.com"
                                                               style="text-decoration:none;color:#98948f"
                                                               target="_blank">
                                                                Unsubscribe</a>
                                                            |
                                                            <a href="https://registration.ft.com/youraccount/details/core/view"
                                                               style="text-decoration:none;color:#98948f"
                                                               target="_blank">
                                                                My
                                                                Account</a>
                                                            |
                                                            <a href="http://www.ft.com/rss"
                                                               style="text-decoration:none;color:#98948f"
                                                               target="_blank">
                                                                RSS</a>
                                                            |
                                                            <a href="http://help.ft.com/tools-services/financial-times-privacy-policy"
                                                               style="text-decoration:none;color:#98948f"
                                                               target="_blank">
                                                                Privacy
                                                                Policy</a>
                                                            |
                                                            <a href="http://aboutus.ft.com/"
                                                               style="text-decoration:none;color:#98948f"
                                                               target="_blank">
                                                                About
                                                                Us</a>
                                                            |
                                                            <a href="http://help.ft.com/"
                                                               style="text-decoration:none;color:#98948f"
                                                               target="_blank">
                                                                Help</a>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="height:34px;font-size:34px;line-height:34px;padding:0">
                                                            &nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size:9pt;line-height:13pt;padding:5px 5px 0 5px;text-align:center;color:#505050">
                                                            ©
                                                            THE
                                                            FINANCIAL
                                                            TIMES
                                                            LTD
                                                            2016</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size:9px;line-height:11pt;padding:0 5px 5px 5px;text-align:center;color:#505050">
                                                            This email was sent by a company owned by Financial Times Group Limited (FT Group), registered office at Number One Southwark Bridge, London SE1 9HL.
                                                            <br>Registered in England and Wales with company number 879531.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                            <td style=
                                                        "width:3%">
                                                &nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style=
                                            "height:28px;font-size:28px;line-height:28px;padding:0">
                                    &nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td style="width:1%">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>