<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Georgia,serif;background-color:#fff;color:#333;margin:0px;padding:0px;font-size:16px">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Georgia,serif;color:#333;margin:0px;padding:0px;font-size:16px;max-width:700px;width:100%;background-color:#fff1e0">
                <tbody>
                <tr>
                    <td align="center">

                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:#d66d06">
                            <tbody>
                            <tr>
                                <td align="center" style="background-color:#d66d06"><img src="https://ci6.googleusercontent.com/proxy/GmF3ggoCkvL-RSu2LcO4J1tfOHHifCQKqua2mqPz-FJ00bbtrgssfGx0seh3bKZg0mr5-WYWvrwxi-UxuNm37Oj8gy4SEhNdC5PYYTE9UGpIp9aDCy1BzAM6kVfulzmUjqgf9W0zIU8D74U7WA=s0-d-e1-ft#http://www.ft-static.com/sp/prod/email/images/free_lunch_email/FreeLunchHeader-v3.2.png" alt="FINANCIAL TIMES - MARTIN SANDBU'S FREE LUNCH" class="CToWUd">
                                </td>
                            </tr>
                            </tbody>
                        </table>



                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                            <tr>
                                <td width="20px" style="padding:10px">&nbsp;</td>
                                <td width="100%">

                                    {{heading}}

                                    {{authorWidget}}

                                    {{content}}


                                </td>
                                <td width="20px" style="padding:10px">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>



                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:#f6e9d8">
                            <tbody>
                            <tr>
                                <td align="center" style="font-family:Arial,sans-serif;font-size:12px;line-height:13pt;padding:10px 10px 0 10px;text-align:center;color:#000;background-color:#f6e9d8">
                                    {{footerWidget}}
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="font-family:Arial,sans-serif;font-size:12px;line-height:13pt;padding:5px 10px 10px 10px;text-align:center;color:#000;background-color:#f6e9d8">
                                    <span style="color:#505050;font-family:Arial,sans-serif;font-size:9pt">View this article as a <a href="http://click.email.ft.com/?qs=fa357842b01b0a2d0afcd6a71facf9040c8768b4f3b1e5ef343e71b5a0437e6fcf49bbf1bd2a8bfb" style="font-family:Arial,sans-serif;font-size:9pt;text-decoration:none;color:#2e6e9e" target="_blank">web page</a>.  <a href="mailto:freelunch@ft.com?Subject=Thoughts+on+your+economics+email" style="font-family:Arial,sans-serif;font-size:9pt;text-decoration:none;color:#2e6e9e" target="_blank">Send us an email</a> to share your thoughts on today's newsletter or any online economics material you think other readers would enjoy. Ask your friends to</span>
                                    <a href="http://click.email.ft.com/?qs=fa357842b01b0a2d510c2c0fcc147a266c8c0592b5fc24e434740cc487691044e38133839701caf5" style="font-family:Arial,sans-serif;font-size:9pt;text-decoration:none;color:#2e6e9e" target="_blank">sign up here</a> <span style="color:#505050;font-family:Arial,sans-serif;font-size:9pt">to receive Martin Sandbu's <span class="il">Free</span> <span class="il">Lunch</span>.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>



                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                            <tr>
                                <td align="center" style="padding:10px 0px 5px 0px">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td><a href="https://subscribe.ft.com/psp" style="text-decoration:none;display:block;color:#ffffff;font-size:9pt;font-family:Arial,sans-serif;background-color:#2e6da1;border-radius:4px;border-width:1 px;padding:5px 10px;margin-right:10px" target="_blank">Subscribe to the FT </a>
                                            </td>
                                            <td>
                                                <a href="http://click.email.ft.com/?qs=fa357842b01b0a2d9b43413f6557f4726fcc57851d84d6a285d9a84f8e6f7e93d29729eae11f358d" style="text-decoration:none;display:block;margin-right:10px" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/geCi2kzm9shGKQcFTib2juOQ1sZOR20etG-nE4Jpk4CmtidAcjjHHjWVICEfbxMD5uAlCDA9s4dLxcnKGHzOM8fgg7B8UBZ-VG5Yj4s=s0-d-e1-ft#http://ftemail.herokuapp.com/images/singlelayout/tw.png" style="border:0 none;display:block" height="24" width="24" alt="twitter" class="CToWUd">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="http://click.email.ft.com/?qs=fa357842b01b0a2d2a6a842ef8d8012cda51e51e72af2aeaa2f5ea8763fb1f51f4acf66622091ca6" style="text-decoration:none;display:block;margin-right:10px" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/rat_lssb90BETYKAwPK_COCSFdAEJ7NdPqO9p5xNOK9yDAZZSShFshzM8xTJn2zACThpIiAIy3poynin8iFHVE_XmlTZXfjzn-rG2sk=s0-d-e1-ft#http://ftemail.herokuapp.com/images/singlelayout/fb.png" style="border:0 none;display:block" height="24" width="24" alt="facebook" class="CToWUd">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="http://click.email.ft.com/?qs=fa357842b01b0a2d24887cd1fb45e80d111dd2539b1007b79ca4f73a98ef116fb801566517eb844e" style="text-decoration:none;display:block;margin-right:10px" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/-epyppjKP3g2W6O4LksKupCg_r3NrReKZh3mmXgddom9DEIXk1b7FujCMYLDstCQ5v4HAvXOgKsJBDvTkPmd-f92I29EkP__32uLB4ptngE=s0-d-e1-ft#http://ftemail.herokuapp.com/images/singlelayout/gplus.png" style="border:0 none;display:block" height="24" width="24" alt="google plus" class="CToWUd">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="http://click.email.ft.com/?qs=fa357842b01b0a2df5f6a50b61c48bc05f26b7f02a7ac738d2cc42a7bd2e0714f50021b64abd112c" style="text-decoration:none;display:block" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/1NILvlFVaytlluGvqu3-mYqxMO2KjOxQ5ozSAuzM6xmm7qpPdCBxoob0ESI2DYiS1DJ3n49EmO3BI991a9hU33Fu9dQE5QfjATEaCl033A=s0-d-e1-ft#http://ftemail.herokuapp.com/images/singlelayout/likd.png" style="border:0 none;display:block" height="24" width="24" alt="linkedin" class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="font-family:Arial,sans-serif;font-size:12px;line-height:13pt;padding:5px 5px 0 5px;text-align:center;color:#000">
                                    © THE FINANCIAL TIMES LTD 2016
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="font-family:Arial,sans-serif;font-size:12px;line-height:13pt;padding:5px 5px 0 5px;text-align:center;color:#2e6da1">
                                    <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2d510c2c0fcc147a266c8c0592b5fc24e434740cc487691044e38133839701caf5" target="_blank">Unsubscribe</a> | <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2d46e417df44bd928cdc900b1b7cf3d587e15a85789a7d9d149e81a8c4791d0ce9" target="_blank">My Account</a> | <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2de3327e4ffd7f2fdb7f52377df5f81551eb21c77b5d6a230a471c7bde09c2ac26" target="_blank">Copyright</a> | <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2d835e2360ad40c0157607130c0eb1e1ad50400d02db689134ee5d86dc32db6b0e" target="_blank">RSS</a> |
                                    <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2d9118d0c46be95b4e83dc68edbb1d35f98a4a5474ee60498223e8d10119f16f6f" target="_blank">Privacy Policy</a> |
                                    <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2d379504511c4fb2e5c00892eb8d4578d3d43ae826f891968e2d6d2e1b060294a2" target="_blank">About Us</a> | <a style="text-decoration:none;color:#2e6da1" href="http://click.email.ft.com/?qs=fa357842b01b0a2d14c5777e0f19e79efa065829c0b66f8d79cc23a0f1cde9598d36166035097f6c" target="_blank">Help</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="font-family:Arial,sans-serif;font-size:11px;line-height:12pt;padding:5px 5px 0 5px;text-align:center;color:#000">
                                    This email was sent by a company owned by Financial Times Group Limited (FT Group), registered office at Number One Southwark Bridge, London SE1 9HL.
                                    <br>Registered in England and Wales with company number 879531.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>