<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Georgia,serif;color:rgb(51,51,51);margin:0px;padding:0px;font-size:20px;background-color:rgb(255,255,255)">


    <tbody>
    <tr>
        <td align="center">

            <table cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:660px;width:100%;background-color:rgb(255,241,224)">

                <tbody>
                <tr>
                    <td align="center">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
                            <tbody>
                            <tr style="background:rgb(214,109,6)">
                                <td align="center" valign="top" style="text-align:center"><img src="https://s3-eu-west-1.amazonaws.com/email-platform-ftcom/manual-editor/MBA-Editors-Choice-420.png" alt="FINANCIAL TIMES - MBA Editor's Choice: Your daily pick of business stories" align="center" class="CToWUd">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>



                <tr>
                    <td style="padding-left:10px;padding-top:15px;padding-right:10px">
                        <div style="text-align:center;padding:0px;color:rgb(0,0,0);font-family:Arial,serif;font-size:35px;font-weight:bold">

                        </div>
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="padding-left:10px;padding-top:15px;padding-right:5px">

                                        {{heading}}

                                        {{authorWidget}}

                                        {{wrap}}

                                        {{newsFeed}}

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="background-color:rgb(255,241,224)">
                            <tbody>
                            <tr>
                                <td style="width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody>
                                        <tr>
                                            <td style="height:7px;font-size:7px;line-height:7px;padding:40px 0px 0px">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%!important;min-width:100%!important">

                                        <tbody><tr>
                                            <td style="background-color:#f6e8d7;padding:6px 8px;text-align:center;width:100%!important;min-width:100%!important">  </td>
                                        </tr>

                                        <tr>
                                            <td style="background-color:#f6e8d7;padding:6px 8px;text-align:center;width:100%!important;min-width:100%!important"> <p style="font-size:12pt;font-family:Arial,sans-serif">FT <i>LatAm Viva</i> features commentary by the FT's Latin America team and stories from <a href="http://click.email.ft.com/?qs=4b0add26d6c40ba4a8e23410b7dd87a2ce32faf13401c78d7386595548ade16ccab89fea75c5c5f3" target="_blank"> across the FT</a>. <br><br>

                                                Forward this email to friends and colleagues, who can <a href="http://click.email.ft.com/?qs=4b0add26d6c40ba4beab8725abee6e584b27f3bd33646505c2a583cd5b8bf168b3040fb5b63873af" target="_blank">sign up here</a>. Send your feedback to <a href="mailto:latam@ft.com?Subject=FT+LatAm+Viva" target="_blank">latam@ft.com</a></p>


                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                        <tbody>
                                        <tr>
                                            <td style="height:7px;font-size:7px;line-height:7px;padding:0px">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%!important;min-width:100%!important">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="padding:4px 20px;width:100%!important;min-width:100%!important">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="text-align:centre">
                                                            <a href="http://www.ft.com/cms/782b3c3e-e239-11dd-b1dd-0000779fd2ac.html?pspId=0001&amp;segid=70366&amp;ftcamp=crm/email/ftrise//product" style="text-decoration:none;display:block;color:rgb(255,255,255);font-size:9pt;font-family:Arial,sans-serif;border-radius:4px;padding:5px 10px;background-color:rgb(46,109,161)" target="_blank">Subscribe to the FT </a>
                                                        </td>
                                                        <td style="padding-left:10px">
                                                            <table border="0" cellpadding="0" cellspacing="0" align="left" valign="middle">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="text-align:centre">
                                                                        <a href="https://twitter.com/financialtimes" style="text-decoration:none;display:block;margin-right:10px" target="_blank"><img src="http://ftemail.herokuapp.com/images/singlelayout/tw.png" style="border:0px none;display:block" height="24" width="24" alt="twitter" class="CToWUd">
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="https://www.facebook.com/financialtimes" style="text-decoration:none;display:block;margin-right:10px" target="_blank"><img src="http://ftemail.herokuapp.com/images/singlelayout/fb.png" style="border:0px none;display:block" height="24" width="24" alt="facebook" class="CToWUd">
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="https://plus.google.com/+FinancialTimes/posts" style="text-decoration:none;display:block;margin-right:10px" target="_blank"><img src="http://ftemail.herokuapp.com/images/singlelayout/gplus.png" style="border:0px none;display:block" height="24" width="24" alt="google plus" class="CToWUd">
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="http://www.linkedin.com/company/financial-times" style="text-decoration:none;display:block" target="_blank"><img src="http://ftemail.herokuapp.com/images/singlelayout/likd.png" style="border:0px none;display:block" height="24" width="24" alt="linkedin" class="CToWUd">
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td style="height:8px;font-size:8px;line-height:8px;padding:0px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><span style="color:rgb(0,0,0);font-size:12px;font-family:Arial,sans-serif;font-weight:bold">© THE FINANCIAL TIMES LTD 2015</span> <span style="color:rgb(81,81,81);font-size:12px;font-family:Arial,sans-serif">FT and 'Financial Times' are trademarks of the Financial Times Ltd.</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;font-size:12px;line-height:13pt;font-family:Arial,sans-serif;color:rgb(46,109,161);padding-left:20px;padding-right:20px"> <a style="text-decoration:none;color:rgb(46,109,161)" href="http://nbe.ft.com/nbe/profile.cfm" target="_blank">Unsubscribe</a> | <a style="text-decoration:none;color:rgb(46,109,161)" href="https://registration.ft.com/youraccount/details/core/view?ftcamp=crm/email/ftrise//product" target="_blank">My Account</a> | <a style="text-decoration:none;color:rgb(46,109,161)" href="http://help.ft.com/tools-services/copyright-policy/?ftcamp=crm/email/ftrise//product" target="_blank">Copyright</a> |
                                    <a style="text-decoration:none;color:rgb(46,109,161)" href="http://www.ft.com/servicestools/newstracking/rss?ftcamp=crm/email/ftrise//product" target="_blank">RSS</a> | <a style="text-decoration:none;color:rgb(46,109,161)" href="http://www.ft.com/servicestools/help/privacy?ftcamp=crm/email/ftrise//product" target="_blank">Privacy Policy</a> | <a style="text-decoration:none;color:rgb(46,109,161)" href="http://aboutus.ft.com/?ftcamp=crm/email/ftrise//product" target="_blank">About Us</a> | <a style="text-decoration:none;color:rgb(46,109,161)" href="http://help.ft.com/?ftcamp=crm/email/ftrise//product" target="_blank">Help</a> </td>
                            </tr>
                            <tr>
                                <td style="height:34px;font-size:34px;line-height:34px;padding:0px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:9px;line-height:11pt;padding:0px 20px 5px;text-align:center;color:rgb(80,80,80)">
                                    This email was sent by a company owned by Pearson plc, registered office at 80 Strand, London WC2R 0RL.
                                    <br> Registered in England and Wales with company number 53723. FT.Com
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    </tbody>
</table>